Project/Service References/SOServiceReference/distributorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.prodigix.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.prodigix.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prodigix.com/">
      <s:element name="VerifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyUserResult" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthorizationKey" type="s:string" />
        </s:sequence>
        <s:attribute name="Domain" type="s:string" />
        <s:anyAttribute />
      </s:complexType>
      <s:element name="VerifyDistIDUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="distID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyDistIDUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyDistIDUserResult" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUser" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="VerifyDistIDUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyDistIDUser" />
  </wsdl:message>
  <wsdl:message name="VerifyDistIDUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyDistIDUserResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyDistIDUserAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="distributorWSSoap">
    <wsdl:operation name="VerifyUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies a distributor's information from Username and Password.</wsdl:documentation>
      <wsdl:input message="tns:VerifyUserSoapIn" />
      <wsdl:output message="tns:VerifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyDistIDUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies a distributor's information from Distributor ID.</wsdl:documentation>
      <wsdl:input message="tns:VerifyDistIDUserSoapIn" />
      <wsdl:output message="tns:VerifyDistIDUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="distributorWSSoap" type="tns:distributorWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyUser">
      <soap:operation soapAction="http://www.prodigix.com/VerifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VerifyUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyDistIDUser">
      <soap:operation soapAction="http://www.prodigix.com/VerifyDistIDUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VerifyDistIDUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="distributorWSSoap12" type="tns:distributorWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyUser">
      <soap12:operation soapAction="http://www.prodigix.com/VerifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VerifyUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyDistIDUser">
      <soap12:operation soapAction="http://www.prodigix.com/VerifyDistIDUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VerifyDistIDUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="distributorWS">
    <wsdl:port name="distributorWSSoap" binding="tns:distributorWSSoap">
      <soap:address location="http://www.socialoutbreak.com/WebService/distributorWS.asmx" />
    </wsdl:port>
    <wsdl:port name="distributorWSSoap12" binding="tns:distributorWSSoap12">
      <soap12:address location="http://www.socialoutbreak.com/WebService/distributorWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>